@use "./core" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    font-family: var(--body-family);

    .background {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -10;
  
      width: 100%;
      height: 100%;
      background: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        #7877c64d,
        #ffffff00
      );
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;  
    }
  }
}

